{% extends 'base.html.twig' %}
{% block container %}
    <div class="container">
        <div class="row no-gutters justify-content-center align-items-center mt-5">
            <div class="col-6">
                <h2>Create short URL</h2>
            </div>
        </div>
        <div class="row no-gutters justify-content-center align-items-center mt-5">
            <div class="col-6">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}